In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('AverageDailySentiment')

In [3]:
df

          DATE      mean
0   2009-04-06  0.151274
1   2009-04-07  0.166819
2   2009-04-08  0.151094
3   2009-04-09  0.151094
4   2009-04-10  0.151094
..         ...       ...
76  2009-06-21 -0.026538
77  2009-06-22 -0.067278
78  2009-06-23 -0.055279
79  2009-06-24 -0.047212
80  2009-06-25 -0.055865

[81 rows x 2 columns]